/* You can add global styles to this file, and also import other style files */


body {
    background-image: url("C:\Users\GEORGI\Desktop\CoursesAcademy\src\original.jpg");
    background-color: #00bcd4; 
    background-repeat: no-repeat;
    background-size: 150%;
   }
   